@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Pacifico&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #2a98ae;
}

#general {
  max-width: 1600px;
  margin: auto;

  background-color: #fff;
}
/*en tete*/
header {
  position: relative;
  top: 0;
}

#entete {
  position: fixed;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #def1f5;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  top: 0;
  right: 0;
  z-index: 10;
  border-bottom: 5px solid #4daabd;
}

.onglets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.onglets li {
  list-style-type: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  width: 90px;
  height: 30px;
  border: 2px solid #2a98ae;
  background-color: #4daabd;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.onglets li a {
  text-decoration: none;
  color: #fff;
}

.titre h2 {
  font-family: "Pacifico", cursive;
  font-size: 35px;
  font-weight: bolder;
}

/*corps du texte article*/

#ecrits {
  position: relative;
  display: flex;
  justify-content: center;
  top: 160px;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

article {
  position: relative;
  width: 800px;
  height: 400px;
  text-align: justify;
  padding: 20px;
  padding-right: 40px;
}

.articlesAnciens {
  position: relative;
  text-align: justify;
  width: 350px;
  padding: 20px;
  margin-top: -25px;
  margin-left: 40px;
}

#cache aside {
  background-color: #ebf9fc;
  height: 500px;
}
aside figure img {
  text-align: center;
  width: 350px;

  padding: 20px;
}

.titre-biographie {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

aside .biography {
  position: relative;
  text-align: justify;
  width: 350px;
  padding: 20px;
  margin-top: -25px;
  margin-left: 40px;
}

/* Formulaire commentaire */

form {
  position: relative;
  top: 15px;
  margin-left: 150px;
  z-index: 3;
  width: 800px;
}

fieldset {
  width: 750px;
}
textarea {
  width: 750px;
}
label {
  display: block;
  width: 150px;
}
input {
  display: inline-block;
  width: 350px;
  height: 30px;
}
#envoyer {
  width: 130px;
  height: 30px;
  background-color: #4daabd;
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
}

/*transition tiret*/
#tiret {
  height: 2px;
  width: 100%;
  background-color: #d5e8ec;
  margin-top: 60px;
}

/*photos*/

/* .titre2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  width: 500px;
} */

#titre2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#titre2 li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#photos {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: center;
  margin-bottom: 100px;
}
.sous-titres {
  text-align: center;
}
.portfolio {
  position: relative;
  top: 20px;
  width: 300px;
  text-align: center;
}

/*Footer*/

footer {
  position: relative;
  bottom: 0;
}
#basdepage {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #def1f5;
  z-index: 9999;
}

ul li {
  display: inline-block;
  list-style-type: none;
  text-align: right;
  width: 50px;
}
ul li a {
  text-decoration: none;
}

.fa_custom {
  color: #2a98ae;
}
