/*Sélection des polices */
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Edu+NSW+ACT+Foundation&family=Rubik&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Edu+NSW+ACT+Foundation&family=Lobster&family=Rubik&display=swap");

body {
  margin: 0;
  font-family: "Alkatra", cursive;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Rubik", sans-serif;
  background-color: beige;
}

/*div globale*/

div.main_container {
  margin-top: 50px;
  min-height: calc(100vh - 160px);
  border-radius: 10px;
  /* display: flex;
  justify-content: column; */
}

/*En tête */

header {
  background-color: white;
}
header h1 {
  font-family: "Lobster", cursive;
  font-size: 2rem;
}

li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-link {
  font-size: 20px;
  transition: 0.7s ease;
}
.nav-link:hover {
  font-weight: bolder;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.2 ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: black;
}

#message {
  margin-top: 100px;
}

/* biographie */

#bio_author {
  margin-left: 40px;
  margin-right: 40px;
}

#bio_author .biographie {
  background-color: white;
  display: flex;
  text-align: justify;
}
#bio_author .biographie .left {
  margin: auto;
}
#bio_author .biographie .right h6 {
  text-align: center;
  font-size: 18px;
  height: 5px;
}
#bio_author .biographie .left img {
  margin-top: 35px;
  margin-left: 15px;
  width: 150px;
  border-radius: 50%;
}
#bio_author .biographie .right {
  margin-left: 30px;
  margin-right: 40px;
}
#bio_author .biographie .right h5 {
  font-size: 18px;
}

#bio_author .biographie .right #bio_author .biographie .right p.description {
  color: rgb(53, 50, 50);
  text-align: justify;
  margin-top: -10px;
  margin-left: 20px;
  flex-wrap: wrap;
  width: 100%;
}

/*articles*/
.articles {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
.articles .article {
  margin: auto;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 70%;
}

.articles .article .date {
  margin-left: 15px;
  color: grey;
}

.articles .article h5 {
  font-size: 18px;
  margin-top: 13px;
  margin-left: 20px;
}
.articles .article h5 a {
  text-decoration: none;
}

.articles .article .description {
  margin-left: 15px;
  margin-top: -10px;
  color: rgb(53, 50, 50);
  text-align: justify;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
}

.articles .article .auteur {
  margin-top: -10px;
  margin-left: 25px;
}

/*bouton suite*/

#suite {
  z-index: 1;
  margin-top: 140px;
  width: 150px;
  height: 35px;
  background-color: rgba(202, 166, 19, 0.4);
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

#suite a {
  color: rgb(58 49 12);
  text-decoration: none;
}

/*Actualisation des commentaires*/

.coms {
  padding-top: 30px;
}

.form form-control {
  margin: auto;
}

.form.form-control {
  padding-top: 10px;
  margin-top: 30px;
}
textarea {
  resize: inline;
}

/*footer*/
footer {
  margin-bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: beige;
}

footer h5 {
  width: 180px;
  color: black;
}

.social-media {
  margin-top: 15px;
}
.social-media a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

/*Mise en page posts*/

#contenu2 {
  margin: auto;
  margin-top: 100px;
  max-width: 90%;
  background-color: burlywood;
}
#contenu2 div.main_container {
  /* display: flex;
  justify-content: center; */
  /* align-items: center;
  flex-direction: column; */
  margin-top: 100px;
  min-height: calc(100vh - 160px);
  border-radius: 10px;
  /* gap: unset; */
}

span {
  margin-top: 20px;
  margin-left: 44%;
  font-weight: bolder;
  font-size: 20px;
}

/*tableau de bord*/

#contenu2 .article {
  text-align: justify;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  border-radius: 5px;
  padding: 10px;
}
#contenu2 .main_container #title {
  border: 3px solid black;
  border-style: inset;
  width: 400px;
  height: 50px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

#contenu2 .pseudo {
  /* text-align: center; */
  padding-left: 10px;
  font-size: 16px;
}

.supprimer {
  height: 35px;
  width: 130px;
  text-decoration: none;
  margin-left: 40%;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bolder;
  background-color: beige;
}

.supprimer a {
  text-decoration: none;
  color: black;
}

#contenu2 .comment {
  text-align: center;
  margin-top: -65px;
  margin-left: 100px;
  background-color: #fff;
  width: 600px;
}

#contenu2 h2 {
  text-align: center;
}

/*formulaire*/
.form {
  margin-left: 20%;
  margin-top: 150px;
  max-width: 600px;
}

#title {
  height: 35px;
  width: 150px;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
}
#envoyer {
  height: 35px;
  width: 135px;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  background-color: burlywood;
}

input.form.form-control {
  border-radius: 5px;
}

input.btn.btn-primary {
  height: 35px;
  width: 200px;
  background-color: #0d6efd;
  color: #fff;
  font-weight: bolder;
  border-radius: 5px;
}

/*tableau de bord*/

/*header*/

#contenu2 #main_container .container_articles {
  display: flex;
  justify-content: center;
}
.container_articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

#contenu2 h3 {
  border: 3px solid black;
  border-style: inset;
  width: 400px;
  height: 50px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

#cadre {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(201, 147, 21);
}

#header_cadre {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#header_cadre2 {
  display: flex;
  align-items: center;
  height: 50px;
  padding-top: 10px;
}

#header_cadre .title_dashboard {
  color: black;
  margin-top: 35px;
  padding-right: 20px;
  font-size: 20px;
}

.date_dashboard {
  margin-top: 20px;

  color: black;
  width: 100px;
  font-weight: bold;
}

.list-dashboard {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.link_dashboard {
  font-weight: bolder;
  color: black;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
}

/*Formulaire de connexion */
#form_connexion {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

#form_connexion h1 {
  margin-top: 200px;
  text-transform: capitalize;
}
#div_form {
  border: 1px solid black;
  background-color: rgb(94, 94, 84);
  border-radius: 3px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
#div_form > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#form-connexion {
  z-index: 1;
}
#div_form #email,
#div_form #password {
  /* margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px; */
  width: 230px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

#div_form #connect {
  width: 80px;
  height: 40px;
  border-radius: 3px;
  font-size: 16px;
}

/*Messages de confirmation et d'erreur*/

.success {
  color: green;
}

.error {
  color: red;
}

/*responsive*/

/*header*/

@media screen and (max-width: 900px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.5s ease;
  }
  header h1 {
    font-size: 20px;
    margin-top: 35px;
  }
  header .onglets {
    margin-top: 0;
    display: none;
  }
  header i.fa-solid {
    color: black;
    display: block;
  }
  .mobile-menu .onglets {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-direction: column;
  }
}

@media screen and (max-width: 1022px) {
  .nav-menu {
    margin-top: 37px;
    z-index: 2;
  }
}

@media screen and (max-width: 665px) {
  /*header*/
  .hamburger {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
  }
  .hamburger.active .bar:nth-chid(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY() rotate();
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY() rotate();
  }
  .nav-menu {
    position: absolute;
    top: 40px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    margin-left: 150px;
    text-align: center;
    transition: 0.2s;
  }
  .nav-link {
    padding-right: 10px;
  }

  /*body*/

  #div_form {
    display: flex;
    flex-direction: column;
  }
  #div_form #email {
    width: 180px;
  }
  #div_form #password {
    width: 180px;
  }
  #form_connexion h1 {
    text-align: center;
  }
}
